.container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 360px;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 360px;
  padding-left: 12px;
}

.navbar span {
  margin: auto 0;
}

.navbar > * {
  padding: 20px;
}

.navbar a {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #28352f;
  text-decoration: none;
}

.header-title {
  text-align: center;
}

.header-title h1,
.header-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.header-title .green {
  color: #36b37f;
}

.header-content {
  text-align: center;
  padding: 24px;
}

.header-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
}

.icons {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.icons li {
  padding: 4px;
}

.anchor-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 62px;
}

.anchor-arrow img {
  border: 1px solid #dfe1e6;
  border-radius: 32px;
}

.project-container {
  display: grid;
  grid-template-columns: 360px;
}

.project-title {
  display: flex;
  justify-content: center;
}

.project-title h2 {
  color: #172b4d;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  width: 327px;
}

.project-list {
  display: flex;
}

.project-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-list .list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  background: #ebf0ee;
  margin-bottom: 24px;
}

.image-project {
  height: 252px;
  background-image: url(../images/project\ placeholder.PNG);
  background-repeat: no-repeat;
  background-size: cover;
}

.image-style {
  background: #fff;
  border-radius: 8px;
  width: 327px;
  height: 222px;
  padding: 16px;
}

.image-style h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #3a4a42;
  margin: 16px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons div {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.button-style-link {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.button {
  width: 122px;
  align-items: center;
  padding: 12px;
}

button {
  border-radius: 6px;
  height: 48px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  letter-spacing: 0.03em;
  border: 0;
  background: #36b37f;
}

button:hover {
  background: #063d26;
}

.about-container {
  display: grid;
  grid-template-columns: 360px;
}

.about-header {
  display: flex;
  align-items: flex-end;
  height: 127px;
  background-image: url("../images/aboutbackground.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.about-header h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
  width: 351px;
  text-align: center;
}

.about-style {
  display: flex;
  margin: 24px 0;
}

.about-style p {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
  text-align: center;
  width: 351px;
  display: block;
  margin: 0;
}

.get-resume-button {
  display: flex;
  background-image: url("../images/aboutbackground-2.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 72px;
}

.get-resume-button button {
  width: 159px;
  height: 48px;
  margin: auto;
}

.skills-container {
  display: flex;
  flex-direction: column;
  margin-top: 59px;
}

.skills-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.skills-container li {
  border: 1px solid #c1c7d0;
  box-sizing: border-box;
  border-radius: 8px;
  background: #ebf0ee;
  height: 342px;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.item-list .icon {
  padding-top: 40px;
}

.item-list h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #344563;
}

.about-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.about-buttons div {
  background: #fff;
  border-radius: 8px;
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #36b37e;
  letter-spacing: 0.03em;
}

.project-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.project-buttons div {
  background: rgb(209, 205, 205);
  border-radius: 8px;
  padding: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  letter-spacing: 0.03em;
}
